<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>

  <header>
    <% include ./partials/header %>
    <!--Mask-->
    <div id="intro" class="view">

      <!--Mask-->
      <div id="intro" class="view">

        <div class="mask rgba-black-strong">

          <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

              <div class="col-md-10">

                <!-- Heading -->
                <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">ZAWADI</h2>

                <!-- Divider -->
                <hr class="hr-light">

                <!-- Description -->
                <h4 class="white-text my-4">Local restuarants API, create custom apps for retaurants around you.
                  Deleniti
                  consequuntur.</h4>
                <button type="button" class="btn btn-outline-white">GET STARTED</i></button>

              </div>

            </div>

          </div>

        </div>

      </div>
      <!--/.Mask-->

    </div>
    <!--/.Mask-->
  </header>

  <main>

  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>


  <% include ./partials/js %>
</body>

</html>