html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("../images/rest2.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg {
  background-color: #bf360c;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
}

.loginHeader {
  height: 0%;
}

.mainLogin {
  margin-top: 150px;
  margin-bottom: 100px;
}

.btn {
  background: #bf360c !important;
  color: white !important;
}

.registerLink {
  font-size: 20px;
  color: #bf360c;
}

.lgnBtn {
  color: white;
}